<div class="container card h-100 w-100 products">
  <div class="card-header alert-success text-dark w-100">
    <div class="row">
    <div class="col-6" style="margin-top:  8px;">
        <i class="fa fa-list " aria-hidden="true"></i> 
        <span>Productos</span>
    </div>
    <div class="col-6">
      <input type="text" [(ngModel)]="queryString" class="float-right form-control" placeholder="Buscar..">
    </div>
  </div>
  </div>

    <div class="w-100 h-100">
      <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
      <table  class="table table-sm table-hover text-center w-100">
        <thead class="table-secondary table-sm text-dark text-center">
          <tr>
            <th class="text-center">Código</th>
            <th class="text-center">Nombre / Marca</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Acción</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor = "let product of iProducts  | productSearch : queryString">
            <td class="align-middle">{{product.code_bar}}</td>
            <td class="align-middle">{{product.name}}</td>
            <td class="align-middle">{{product.description}}</td>
            <td class="align-middle">${{product.price}}</td>
            <td class="align-middle">
              <button (click) = "addProdudctToCart(product.code_bar)"
                        class="btn btn-outline-success"> 
                  Agregar 
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>