<div class="container h-100">
    <div class="card h-100">
             <div class="card-header alert-success text-dark w-100 text-center">
                 <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                 Compra actual
                 <div class="clearfix"></div>
             </div>
             <div class="container h-50" style="overflow-y: auto">
                     <!-- PRODUCT -->
                     <div class="row">
                        <table class="table table-sm table-hover text-center">
                            <thead class="table-secondary">
                              <tr>
                                <th class="text-center">Producto</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Accion</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor = "let product of iProducts">
                                <td class="align-middle">{{product.name}}</td>
                                <td class="align-middle">${{product.price}}</td>
                                <td> 
                                    <button (click) = "deleteFromCart(product.id)"
                                            type="button" 
                                            class="btn btn-outline-danger btn-xs">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                     </div>
                     <hr>
                     <div class="col-12">
                         <span class="float-right">Precio total: <b>${{iTotalPrice}}</b></span>
                    </div>
                     <!-- END PRODUCT -->
             </div>
             <div class="card-footer bottom-div">
                 <div class="row m-3">
                     
                      <div class="col-12">
                            <div class="input-group mb-3">
                                <input  type="text" class="form-control" 
                                        [(ngModel)]="iDiscount"
                                        name="iDiscount"
                                        type="number"
                                        min="0" max="100"
                                        (ngModelChange)="calculatePrice($event)"
                                        placeholder="Descuento (%)">
                            </div>
                        <div class="dropdown w-100 mb-2">
                            <button     class="btn btn-outline-primary dropdown-toggle w-100"
                                        type="button"
                                        id="dropdownMenuButton" 
                                        data-toggle="dropdown" 
                                        aria-haspopup="true" aria-expanded="false">
                                        <span *ngIf="!iPaymentSelected">Forma de pago</span>
                                        <span *ngIf="iPaymentSelected">{{iPaymentSelected.name}}</span>                                    
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a *ngFor="let method of iPaymentMethods"
                                        class="dropdown-item"
                                        href="#"
                                        (click)="setPaymentMethod(method.id)"
                                        >{{method.name}}
                                </a>

                            </div>
                        </div>
                        <div class="dropdown w-100 mb-2">
                            <button     class="btn btn-outline-primary dropdown-toggle w-100"
                                        type="button"
                                        id="dropdownMenuButton" 
                                        data-toggle="dropdown" 
                                        aria-haspopup="true" aria-expanded="false">
                                        <span *ngIf="!iTaxConditionSelected">Condición Impositiva</span>
                                        <span *ngIf="iTaxConditionSelected">{{iTaxConditionSelected.name}}</span>                                    
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a *ngFor="let tax of iTaxConditions"
                                        class="dropdown-item"
                                        href="#"
                                        (click)="setTaxCondition(tax.id)"
                                        >{{tax.name}}
                                </a>

                            </div>
                        </div>
                        <!-- <button class="btn btn-success w-100" 
                                data-toggle="modal"
                                (click) = "confirmShop()"
                                [disabled] = "!iTaxConditionSelected || !iPaymentSelected"
                                data-target="#exampleModal">
                            <span>Confirmar </span> 
                            <i class="fa fa-print"></i>
                        </button> -->
                        <button class="btn btn-success w-100"
                                (click) = "confirmShop()"
                                [disabled] = "!iTaxConditionSelected || !iPaymentSelected">
                            <span>Confirmar </span> 
                            <i class="fa fa-print"></i>
                        </button>
                      </div>
                 </div>
             </div>
         </div>
 </div>

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header text-center">
            <h5 class="modal-title text-center" id="exampleModalLabel">Espere por favor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
        </div>
    </div>
</div>