<div class="col-12 h-100 pos-component" *ngIf="!iLoadingConfiguration" appScannerBarcode>
  <div class="navbar-top">
    <app-navbar 
      class="w-100"
      [iCurrentUser] = "iCurrentUser">
    </app-navbar>
  </div>
  <app-alerts></app-alerts>
  <div class="row shop-component">
      <div class="col-4">
        <app-shopping-cart 
          class="h-100"
          [iCurrentUser] = "iCurrentUser">
        </app-shopping-cart>
      </div>
      <div class="col-8">
        <app-products class="h-100"></app-products>
      </div>
  </div>
</div>

<div class="loading" *ngIf="iLoadingConfiguration">Loading&#8230;
  hola
</div>
