<nav class="navbar navbar-expand-lg h-100 navbar-top navbar-dark bg-dark">
  <div class="w-100 text-center">
      <a class="navbar-brand float-left" href="#">Canela - Punto de Venta</a>
      <a class="navbar-brand text-light"> En atención: {{iCurrentUser.username}} </a>
      <a class="navbar-brand float-right" href="#" (click)="logout()"> Salir <i class="fa fa-power-off"></i> </a>
  </div>  
</nav>